---
title: Revealed Preferences Chore Allocator
layout: base
permalink: /projects/revealed-preferences-chore-allocator/
---

<link rel="stylesheet" href="/assets/revealed-preferences-chore-allocator/style.css" />

<div class="chore-allocator">
  <h1>Revealed Preferences Chore Allocator</h1>
  <form id="bids-form">
    <div id="form-area"></div>
    <button type="submit">Submit Bids</button>
  </form>
  <div id="result"></div>
</div>

<script src="/assets/revealed-preferences-chore-allocator/app.js" defer></script>
