<footer class="site-footer mt-l-xl p-s-m">
  <div class="wrapper">
    <div class="cluster gutter-xs">
      <nav class="cluster text-step-0" aria-label="{{ meta.navigation.ariaBottom }}">
        &copy; {% year %}
        <a href="/" {{ indicateActiveHome }}
          ><span class="font-display">{{ meta.siteName }}</span> <small>{{ pkg.version }}</small>
        </a>

        {% for item in navigation.bottom %}
          <a
            href="{{ item.url }}"
            {{
              helpers.getLinkActiveState(item.url,
              page.url)
              |
              safe
            }}
            >{{ item.text }}</a
          >
        {% endfor %}
      </nav>

      <nav class="cluster" aria-label="{{ meta.navigation.ariaPlatforms }}">
        {% for key, value in personal.platforms %}
          {% if value != "" %}
            <!-- regular platforms -->
            <a
              class="no-indicator button"
              data-icon
              href="{{ value }}"
              rel="me noopener noreferrer"
              target="_blank"
            >
              <span class="visually-hidden">{{ key | capitalize }}</span>
              {% svg 'platform/' + key %}
            </a>
          {% endif %}
        {% endfor %}
      </nav>
    </div>

    {% include 'partials/theme-switch.njk' %}

    <aside class="creator | cluster gutter-2xs text-step-min-2 mt-xl">
      Built with
      <a class="no-indicator" href="https://www.11ty.dev/">Eleventy</a>
      · Theme adapted from Eleventy Excellent by
      <a class="no-indicator" href="https://www.lenesaile.com/">Lene Saile</a>.
    </aside>
  </div>
</footer>
